<section class="wrapper">
	<%= erb :header %>

	<div class="spell-it-out">
		<p>Here are all the fonts from your psd, you can see if they are available as web fonts for purchase at MyFonts or simply copy the list of fonts to your clipboard by clicking the button below.</p>
	</div> <!--  .intro -->
	
	<div class="font-list">
	<% @singleFonts.each do |font| %>
		<div class="font-list__single-font">
			<p class="font-list__name"><%= font %></p>
			<div class="font-list__link-right">
				<a class="font-list__buy-font btn" target="_blank" data-font-name="<%= font %>" href="<%= purchase_link(font) %>">buy at MyFonts</a>
			</div> <!--  .font-list__link-right -->
		</div> <!--  .font-list__single-font -->
	<% end %>
	
	</div> <!--  .font-list -->

	<div class="all-of-the-extras">
		<button id="js-copy-btn" class="copy-fonts btn" data-clipboard-target="clipboard_text" data-copy-text="copied!">copy to clipboard</button>
		<a href="/" class="start-again btn"><i class="spin"></i> start over?</a>
	</div> <!--  .all-of-the-extras -->

	<div class="hide-completely" id="clipboard_text">
		<%  @singleFonts.each_with_index do |font, index| 
				if index != @singleFonts.length - 1 %>
		<%= font %>,<br>
		<% else %>
		<%= font %>
		<% end end %>
	</div> <!-- #clipboard_text  -->
</section> <!--  .wrapper -->